// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";


.paragraph-header {
  font-size: 32px;
  line-height: 1.9;
  font-weight: bold;
  color: #565a5c;
  padding: 20px 0;
}

.paragraph-header p {
  font-size: 15px;
  line-height: 1.1;
  color: #565a5c;
}
