<!-- source/index.html.erb -->

<div class="container">
  <div class="paragraph-header text-center">Escape for a week-end
  <p>Discover new, inspiring places close to home.</p>
  </div>



  <div class="row">
    <% data.cities.each do |city, description| %>
      <div class="col-sm-4">
      <div class="city-card" style="background-image: url('<%= image_path description.picture %>');">
        <div class="city-card-description text-center"><%= description.town %></div>
        </div>
        <%= link_to "", "cities/#{city}.html", class: "card-link" %>
      </div>
    <% end %>
  </div>





</div>
