<div class="text-center padded features" style="padding: 0 30px;">

    <div class="community-section" id="weekend-recommendations">
      <div class="community-titles">
        <h1><strong>Our community</strong></h1>
      </div>

      <div class="row padded" style="width: 100%">






        <div class="hidden-xs col-sm-6 col-sm-3" style="width: 25%">

          <div class="vertical" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://goo.gl/epQYdC);">

            <div class="inside_text text-center">

              <div class="vertical_pusher"></div>
              <div class="vertical_title">Make Airbnb yours</div>

              <div class="vertical_description">
                <p>Create your symbol, Tell your story</p>
              </div>
            </div>

            <a class="vertical-link" href="#"></a>
          </div>
        </div>






        <div class="hidden-xs col-sm-6 col-sm-3" style="width: 25%">

          <div class="vertical" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://goo.gl/qLZJ1x);">

            <div class="inside_text text-center">
              <div class="vertical_tag" style="background: #007A87">
                <p style="margin: 0">Travelling</p>
              </div>
              <div class="vertical_pusher"></div>
              <div class="vertical_title">Alice &amp; Chris</div>

              <div class="vertical_description">
                <p>Across an ocean or across town, Alice &amp; Chris are always in search of local experiences.</p>
                <p>Learn more about travel on Airbnb.</p>
              </div>
            </div>

            <a class="vertical-link" href="#"></a>
          </div>
        </div>






        <div class="hidden-xs col-sm-6 col-sm-3" style="width: 25%">

          <div class="vertical" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://goo.gl/iZqPUh);">

            <div class="inside_text text-center">
              <div class="vertical_tag" style="background: #393C3D">
                <p style="margin: 0">Business Travel</p>
              </div>
              <div class="vertical_pusher"></div>
              <div class="vertical_title">Airbnb for Business</div>

              <div class="vertical_description">
                <p>Feel at home, wherever your work takes you.</p>
                <p>Get your team on Airbnb.</p>
              </div>
            </div>

            <a class="vertical-link" href="#"></a>
          </div>
        </div>





        <div class="hidden-xs col-sm-6 col-sm-3" style="width: 25%">

          <div class="vertical" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://goo.gl/TgmqsL);">

            <div class="inside_text text-center">
              <div class="vertical_tag" style="background: #7B0051">
                <p style="margin: 0">Hosting</p>
              </div>
              <div class="vertical_pusher"></div>
              <div class="vertical_title">Nina</div>

              <div class="vertical_description">
                <p>A professional photographer, Nina loves helping guests explore Shanghai’s arts scene.</p>
                <p>Learn more about travel on Airbnb.</p>
              </div>
            </div>

            <a class="vertical-link" href="#"></a>

          </div>
        </div>
      </div>




        </div>
</div>

</div>


